* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.format{
    display: flex;
    width: 40%;
    height: 30%;
}
#posizione {
    font-weight: 900;
    color: chartreuse;
}

#nome {
    font-weight: 900;
    color: rgb(255, 60, 0);
}